<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 작성</title>
</head>

<body>
    <%- include('../../public/header') %>

        <div class="main">
            <form method="post">
                <label for="">제목</label>
                <input type="text" name="title">
                <label for="">내용</label>
                <textarea type="text" name="content"></textarea>
                <label for="">작성자</label>
                <input type="text" name="writer" value="<%= user.nickname %>" readonly>
                <button>작성</button>
            </form>
        </div>
</body>

</html>