<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/users/login.css">
</head>

<body>
    <%- include('../header') %>

        <div class="main">
            <div class="main-item">
                <form method="post">
                    <div class="flex">
                        <div>
                            <div>
                                <label for="">이메일</label>
                                <input type="text" name="email" required>
                            </div>
                            <!-- <input type="text" name="email" required > -->
                            <div>
                                <label for="">비밀번호</label>
                                <!-- <input type="text" name="password" required > -->
                                <input type="text" name="password" required>
                            </div>
                        </div>
                        <button id="loginBtn" class="btn">로그인</button>
                    </div>
                </form>
                <a href="/users/signup" class="btn a-btn">회원가입</a>
            </div>
        </div>
</body>
<script src="/users/login.js"></script>

</html>