<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/users/signup.css">
</head>

<body>
    <%- include('../header') %>
        <div class="main">
            <div class="main-item">
                <form method="post">
                    <div>
                        <label for="">이메일</label>
                        <input id="email" type="text" name="email" required>
                    </div>
                    <!-- <div id="emailCheckBtn">중복확인</div> -->
                    <!-- <a id="emailCheckBtn" href="/users/emailcheck">중복확인</a> -->
                    <div>
                        <label for="">비밀번호</label>
                        <input type="text" name="password" required>
                    </div>
                    <div>
                        <label for="">닉네임</label>
                        <!-- <a>중복확인</a> -->
                        <input type="text" name="nickname" required>
                    </div>
                    <button id="signupBtn" class="btn">회원가입</button>
                </form>
            </div>
        </div>
</body>
<script src="/users/signup.js"></script>

</html>